/* Potatocodes B2R App */

/* TABLE OF CONTENTS */

/*
- FONTS
- DEFAULTS
- CUSTOM
*/

/* FONTS */
@font-face {
  font-family: "ComfortaaBold";
  src: url("../fonts/COMFORTAA_BOLD.TTF");
} 

@font-face {
  font-family: "ComfortaaRegular";
  src: url("../fonts/COMFORTAA_REGULAR.TTF");
} 

@font-face {
  font-family: "ComfortaaThin";
  src: url("../fonts/COMFORTAA_THIN.TTF");
} 

/* DEFAULTS */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    text-align: center;
}

/* CUSTOM */

.icons{
  margin-right: 10px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: -5px;
}
.icons-small{
  width: 25px;
  margin-right: 15px;
  margin-left: 10px;
}

.grey-cont{
  background-color: #f5f5f5 !important;
}
.grey-button{
  background-color: #e5e5e5 !important;
}

.main-links:hover, .main-links:active, .main-links:focus {
  background-color: black;
  transition: ease 0.5s all;
  color: white;
}

.fa-star{
  color: #d8d8d8;
  font-size: 28px;
}
.fa-star-highlight{
  color: #e8e325;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.div-center{
    margin: 0 auto;
}
.center-vertical{
    position: relative;
    margin-top: 5em;
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.main-container{
    text-align: center;
}
.main-container a{
    text-decoration: none;
    color: black;
}

.subpage-container{
    text-align: left;
}

.buttons{
    cursor:pointer;
    font-size: 4.1em;
    border: 1px solid gray;
    background-color: white;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 16px;
    min-width: 200px;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}
.counter{
    font-size: 52px;
}

.blocks-container{
    overflow: hidden;
    padding: 0 40em;
}
.blocks{
    width: 30%;
    min-height: 20em;
}

.pictures{
    height: 25em;
}

.desc-holder{
    font-size: 1.2em;
    width: 175px;
    float: left;
}
.main-holder{
    overflow: hidden;
    width:300px;
    margin: 0 auto;
    //border: 1px solid red;
}

button.camera-control {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(50%, #dddddd), color-stop(50%, #d2d2d2), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #dfdfdf;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  color: #666;
  display: block;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  margin: 10px auto;
  padding: 7px 0;
  text-shadow: 0 1px 1px #fff;
  width: 150px; 
}
button.camera-control:hover {
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(50%, #d1d1d1), color-stop(50%, #c4c4c4), color-stop(100%, #b8b8b8));
    background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3;
    box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3; }
  button.camera-control:active {
    -webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
    box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white; 
}

.half-wit{
  width: 50%;
  float: left;
}

.main-menu{
  font-size: 1.2em;
  text-decoration: none;
  --color: white;
  color: #b3e5fc;
}

.menu{
  list-style: none;
  width: 100%;
  overflow: hidden;
}
.menu li{
  float: left;
  border-right: 1px solid white;
}
.menu li a{
  padding: 10px 15px;
}
.menu li a:hover, .menu li a:active, .menu li a:focus{
  --color: green;
  color: #FFFFFF;
}

.gb-menu-items{
  text-decoration: none;
  color: #2e2e2e;
  background-color: #0ad681;
  display: block;
  width: 100%; 
  height: 75px; 
  text-align: center;
  font-size: 2em; 
  padding-top: 25px;
  color: white;
  font-weight: 600;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.gb-menu-items:active, .gb-menu-items:hover, .gb-menu-items:focus{
  background-color: black;
}

.gb-grocery-items-inner{
  border: 2px solid #b3e5fc;
  height: 150px;
  margin-top: 15px;
  position: relative;
}
.gb-grocery-items-inner a{
  padding: 10px 15px;
  background-color: #b3e5fc;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  font-weight: 600;
  text-decoration: none;
}
.gb-grocery-items-inner a:hover{
  background-color: black;
  color: white;
}
.element-container{
  font-size: 2em;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.element-container2{
  font-size: 1.2em;
  position: relative;
  width: 100%;
  border: 1px solid #b3e5fc;;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

body,ul,li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow: hidden; /* this is important to prevent the whole page to bounce */
}

header{
  background-color: #0ad681;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav{
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-right: 1px solid white;
}
nav .bars{
  width: 25px;
  border-bottom: 3px solid white;
  margin-top: 4px;
}

.logo{
  width: 50px;
  float: left;
  margin-left: 10px;
}

#header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 45px;
  --background: #2e2e2e;
  background-color: #0ad681; 
  padding: 0;
  color: #eee;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  font-size: 1.2em;
  font-weight: 600;
}
#total-amount{
  float: right;
  margin-right: 15px;
}

#wrapper {
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 48px;
  left: 0;
  width: 100%;
  background: #ccc;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

#scroller li {
  padding: 0 10px;
  height: auto;
  line-height: 40px;
  border-top: 1px solid #fff;
  background-color: #fafafa;
  font-size: 14px;
  float: left;
  width: 50%;
}

.landing-brand{
  position: relative;
  margin: 5% auto;
  height: 150px;
  width: 150px;
}

.wrapper-list{
  padding-top: 45px !important;
}
.wrapper-list #scroller #items-container li{
  width: 100% !important;
  font-size: 1.5em !important;
  font-weight: 400;
}

#cleardata{
  height: 47px;
  float: right;
  --background-color: red;
  background-color: #f44336;  
  color: #F5F5F5;
  border: none;
  cursor: pointer;
}

.table-properties{
  border: 1px solid #2e2e2e;
  float: left;
  width: 33.33%;
  background-color: white;
  font-weight: 300;
  font-size: 1em;
  color: #2e2e2e;
}

.defaultMessage{
  font-size: 2em;
  font-weight: 800;
  color: gray;
  padding: 50% 0px;
  text-align: center;
}

.start-ride-body{
  background-color: black;
}

/* MAP AND OTHER ELEMENTS */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
        .controls {
          margin-top: 10px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }


        #pac-input {
          background-color: #fff;
          font-family: "ComfortaaBold";
          font-size: 18px;
          color: black;
          font-weight: 300;
          margin-left: 10%;
          padding: 20px;
          margin-top: 100px;
          text-overflow: ellipsis;
          width: 80%;
        }

        #pac-input:focus {
          border-color: #4d90fe;
        }

        .pac-container {
          font-family: Roboto;
        }

        #type-selector {
          color: #fff;
          background-color: #4d90fe;
          padding: 5px 11px 0px 11px;
        }

        #type-selector label {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
        }
        #target {
            width: 345px;
        }

/* LOGIN PAGE */

.slogan{
  color: #0ad681;
}

.log-form-cont{
  background-color: #f5f5f5; padding: 25px; width: 75%; margin: 0 auto;
}
.main-field-cont input{
  height: 50px;
  border-radius: 10px;
  border: none;
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  margin-bottom: 10px;
  padding: 20px;
}

.main-form-submit{
  background-color: #0ad681;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  overflow: hidden;
}
.main-form-submit a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}

.field-remember,.field-forgot{
  width: 50%;
  padding: 15px -15px;
  margin: 25px 0px;
  float: left;
}

/* Destination Page */

.station-cont{
  background-color: white;
  padding: 10px;
  position: fixed;
  bottom: 100px;
  left: 10%;
  width: 80%;
}
.station-cont div{
  border-bottom: 1px solid #f5f5f5;
  text-align: left;
  padding: 10px;
  color: #2e2e2e;
  font-size: 18px;
  font-family: "ComfortaaBold";
}
.station-cont div a{
  text-decoration: none;
  color: #2e2e2e;
  display: block;
  font-family: "ComfortaaThin";
}
.station-cont div:last-child{
  border-bottom: 0px;
}

/* FORM GROUP PAGE */

.group-cont{
  background-color: white;
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  overflow: hidden;
  position: fixed;
  width: 80%;
  top: 100px;
  left: 10%;
  margin-top: 40px;
}

.group-cont{ 
  text-align: left;
}

.group-cont-finish{
  margin-top: 25%;
  padding-bottom: 50px;
}

.group-cont h3{
  font-family: 'ComfortaaBold';
  font-size: 18px;
  margin-bottom: 5px;
}
.group-cont h4{
  font-family: 'ComfortaaThin';
  font-size: 14px;
  margin: 0px;
  font-weight: 300;
}

.riders-cont{
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 32px;
}
.rider-frame{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #f5f5f5;
  float: left;
  padding: 0px;
  margin-right: 5px;
  overflow: hidden;
}
.rider-frame img{
  width: 100%;
}
.rider-frame-big{
  width: 100px;
  height: 100px;
}
.alpha-rider{
  height: 40px;
  width: 40px;
}
.omega-rider{
  margin-top: 10px;
}

.group-options{
  width: 50%;
  padding-left: -15px;
  padding-right: -15px;
  padding: 15px 10px;
  font-size: 14px;
  font-family: "ComfortaaThin";
  text-align: center;
  color: black;
  display: block;
  float: left;
  border-top: 1px solid #f5f5f5;
  text-decoration: none;
}

#go-alone{
  border-right: 1px solid #f5f5f5;
}
#cancel{
  color: #e5e5e5;
}

#join-button{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* START RIDE FORM */
.start-ride-cont{
  padding-bottom: 20px;
}

/* WARNING MESSAGE */
.message-overlay{
  background-color: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.warning-cont{
  font-size: 18px;
  position: fixed;
  z-index: 4;
  top: 150px;
  left: 10%;
}

.go-alone-insist{
  margin-top: 20px;
}

/* INDIVIDUAL TRAVEL FORM */

.lone-cont{
  padding-bottom: 25px;
}

.user-dets-cont{
  background-color: #e5e5e5;
  padding: 10px;
  margin-left: -25px;
  margin-right: -25px;
  height: auto;
  overflow: hidden;
}

.start-button{
  position: fixed;
  bottom: 50px;
  width: 80%;
  left: 10%;
}

.bike-no{
  float: right;
  font-size: 20px;
  font-family: "ComfortaaRegular";
  margin: 0;
  margin-top: 10px;
  margin-right: 15px;
}

/* END SOLO TRAVEL */

.user-dets-cont .rider-frame{
  float: left;
}
.user-dets-cont .user-stat{
  float: left;
  margin-top: 10px;
}

/* USER FEEDBACK */

.feedback-icon{
  float: left;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 25px;
}
.feedback-cont{
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}
.feedback-cont h3{
  margin-top: 0px;
  margin-bottom: 5px;
}

